<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common-layout :: headerFragment">
    <meta charset="UTF-8" />
    <title>News :: Admin</title>
</head>
<body>

<div class="container">

    <h1>Administration</h1>

    <p>Welcome <b><span th:text="${user}"></span></b>! You have admin privileges.</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <div id="pagefoot" th:include="common-layout :: footerFragment">Footer
    </div>

</div> <!-- end of container -->

</body>
</html>